extends ../components/layout-default/layout-default
include ../components/modal/modal

block head
    - var pageTitle = 'Index Page';

block content
  +b#root
    +b('input')(type="text").input.js_input
    +b('button').button.js_addVideo Добавить видео

    +b#video
